<!DOCTYPE html>
<html lang="en">
<head>
    <!-- CSS only -->


<!-- JS, Popper.js, and jQuery -->

    <meta charset="UTF-8">
    <title>{% block title %} {% endblock %}</title>
</head>
<body>
{% block body %} {% endblock %}

</body>
</html>