


<h1 style="text-align:center;">JSON Validator</h1>



<form style="text-align:center;" method="POST", action="{{ url_for('validate') }}">
    <textarea placeholder="Enter JSON..."  name="name" required rows="30" cols="100"></textarea>
    <br>
    <br>
    <button type="submit" name="signUp">Validate</button>
    <br>
    {% if res %}
        <p>{{ res }}</p>
    {% endif %}
<!--    <span>{{res}}</span>-->

</form>

